@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
}
footer h4 {
  font-size: 16px;
  font-weight: bold;
}
footer li {
  font-size: 14px;
}
footer p {
  font-size: 14px;
}
footer a {
  font-size: 14px;
  color: #45413e;
}
footer a:hover {
  color: #84bc22;
}
footer .categoriest-column, footer .about-column {
  display: flex;
}
footer .categoriest-column ul, footer .about-column ul {
  width: 33%;
}
footer .categoriest-column a, footer .about-column a {
  color: #bdc3c7;
  line-height: 2rem;
}
footer .categoriest-column a:hover, footer .about-column a:hover {
  color: #84bc22;
}
footer .social-buttons {
  display: flex;
  justify-content: space-around;
}
footer path {
  fill: #bdc3c7;
}
footer path:hover {
  fill: #84bc22;
}

@media screen and (max-width: 768px) {
  footer {
    display: block;
  }
  footer .categoriest-column {
    display: block;
  }
}
* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}
body a:hover {
  text-decoration: none;
}
body button:focus {
  outline: none;
}

header {
  border-bottom: 2px solid #F3F0E9;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  z-index: 100;
  background-color: #ffffff;
}

.nav-wrapper, .nav-brand, .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.nav-wrapper#hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: #011847;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  width: 15%;
}

.nav-brand img {
  width: 64px;
  margin-right: 0.5rem;
}

.nav-brand h1 {
  margin: 0;
  color: #011847;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 6.33px;
}

.nav-brand h2 {
  margin: 0;
  margin-top: -8px;
  color: #84bc22;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-wrapper ul {
  margin: 0px;
}

.d-menu-btn {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 20px 18px 30px;
  background-color: inherit;
  text-transform: uppercase;
}

#hoverbutton {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-btn:hover, .d-menu button:hover {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-content, .d-menu-content-lang, .d-menu-content-cur {
  display: none;
  position: absolute;
  background-color: #262a32;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 15;
  justify-content: space-around;
  padding: 20px;
}

.d-menu:hover .d-menu-content, .d-menu-btn:hover {
  display: block;
}

.d-menu-content {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

.d-menu-content-flex {
  margin: 35px;
}
.d-menu-content-flex li a {
  color: #ffffff;
  margin: 0px;
  font-size: 16px;
}

.hoverli h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.hoverli:hover a {
  color: #84bc22;
}
.hoverli:hover h3, .hoverli:hover h3 span {
  color: #84bc22;
}

.d-menu-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  color: #ffffff;
}

.menu-products, .menu-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  line-height: 2rem;
}
.menu-products ul:nth-child(-n+3), .menu-sales ul:nth-child(-n+3) {
  margin-right: 110px;
}

.nav-menu a, .downmenu a {
  margin: 0.4rem 1rem;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
}

.nav-menu span, .d-lang, .d-cur {
  color: #bdc3c7;
  font-weight: 600;
}

.nav-menu span {
  font-size: 0.5rem;
}

i {
  margin-left: 8px;
}

.d-menu2 {
  display: block;
  position: relative;
  z-index: 10;
}
.d-menu2 button {
  color: #bdc3c7;
}

.d-menu-content-lang a, .d-menu-content-cur a {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 14px 0px;
  background-color: #262a32;
  color: #ffffff;
  margin: -15px;
  z-index: 10;
}

.d-menu2:hover .d-menu-content-lang, .d-menu2:hover .d-menu-content-cur {
  display: block;
}
.d-menu2:hover .d-menu-content-lang a:hover, .d-menu2:hover .d-menu-content-cur a:hover {
  color: #84bc22;
}

.d-menu-content-lang li a, .d-menu-content-cur li a {
  color: #ffffff;
}

.column-img img {
  border-radius: 10px;
}

.nav-buttons {
  margin-left: 20px;
}
.nav-buttons span {
  position: absolute;
  font-size: 10px;
  color: #84bc22;
  margin: -10px 0px 0px -10px;
  background-color: #ffffff;
  border: 2px solid #84bc22;
  z-index: 14;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
}
.nav-buttons li:hover path {
  fill: #84bc22;
}

.nav-banners {
  justify-content: space-around;
  padding-top: 110px;
  max-width: 1280px;
  margin: 0 auto;
}

.banners-main .image {
  height: 500px;
  border-radius: 10px;
}

.banners-offer {
  margin: 0;
}
.banners-offer .image {
  width: 100%;
  height: 305px;
  border-radius: 10px;
}
.banners-offer .follow {
  margin-top: 40px;
  text-align: center;
}

.imagini {
  background-size: cover no-repeat;
  height: 200px;
}

.imagini2 {
  background-color: gray;
}

@media screen and (min-width: 880px) {
  #hamburger {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .fa-bars {
    display: none;
  }

  .d-menu-btn {
    padding: 20px 8px 30px;
  }
}
.link-mobile-menu {
  display: flex;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .iconmenu {
    font-size: 28px;
    padding: 1rem 2rem;
    z-index: 100;
  }

  .link-mobile-menu {
    display: block;
  }

  #list-pro, #list-sale {
    display: none;
  }

  .d-menu-content-flex {
    display: block;
    margin: 0;
  }

  .d-menu {
    margin-top: 64px;
  }
  .d-menu h3 {
    padding-top: 15px;
  }

  span {
    rotation-point: 50% 50%;
    rotation: 180deg !important;
  }

  button {
    display: none;
  }

  .nav-wrapper#hamburger {
    display: flex;
  }

  .nav-brand {
    width: 85%;
    transform: translateX(-8%);
  }

  .column-img {
    display: flex;
    padding: 20px;
    justify-content: center;
  }

  .text-logo {
    display: none;
  }

  .menu-products, .menu-sales {
    display: none;
  }

  .nav-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    justify-content: center;
    background-color: #262a32;
    padding: 15px;
  }
  .nav-buttons path {
    fill: #ffffff;
  }
  .nav-buttons span {
    background-color: #262a32;
  }
}
.tempclass {
  height: 30vh;
  background-color: #45413e;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}
body a:hover {
  text-decoration: none;
}
body button:focus {
  outline: none;
}

header {
  border-bottom: 2px solid #F3F0E9;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  z-index: 100;
  background-color: #ffffff;
}

.nav-wrapper, .nav-brand, .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.nav-wrapper#hamburger {
  display: none;
  background-color: transparent;
  border: 0;
  color: #011847;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  width: 15%;
}

.nav-brand img {
  width: 64px;
  margin-right: 0.5rem;
}

.nav-brand h1 {
  margin: 0;
  color: #011847;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 6.33px;
}

.nav-brand h2 {
  margin: 0;
  margin-top: -8px;
  color: #84bc22;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-wrapper ul {
  margin: 0px;
}

.d-menu-btn {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 20px 18px 30px;
  background-color: inherit;
  text-transform: uppercase;
}

#hoverbutton {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-btn:hover, .d-menu button:hover {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-content, .d-menu-content-lang, .d-menu-content-cur {
  display: none;
  position: absolute;
  background-color: #262a32;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 15;
  justify-content: space-around;
  padding: 20px;
}

.d-menu:hover .d-menu-content, .d-menu-btn:hover {
  display: block;
}

.d-menu-content {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

.d-menu-content-flex {
  margin: 35px;
}
.d-menu-content-flex li a {
  color: #ffffff;
  margin: 0px;
  font-size: 16px;
}

.hoverli h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.hoverli:hover a {
  color: #84bc22;
}
.hoverli:hover h3, .hoverli:hover h3 span {
  color: #84bc22;
}

.d-menu-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  color: #ffffff;
}

.menu-products, .menu-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  line-height: 2rem;
}
.menu-products ul:nth-child(-n+3), .menu-sales ul:nth-child(-n+3) {
  margin-right: 110px;
}

.nav-menu a, .downmenu a {
  margin: 0.4rem 1rem;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
}

.nav-menu span, .d-lang, .d-cur {
  color: #bdc3c7;
  font-weight: 600;
}

.nav-menu span {
  font-size: 0.5rem;
}

i {
  margin-left: 8px;
}

.d-menu2 {
  display: block;
  position: relative;
  z-index: 10;
}
.d-menu2 button {
  color: #bdc3c7;
}

.d-menu-content-lang a, .d-menu-content-cur a {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 14px 0px;
  background-color: #262a32;
  color: #ffffff;
  margin: -15px;
  z-index: 10;
}

.d-menu2:hover .d-menu-content-lang, .d-menu2:hover .d-menu-content-cur {
  display: block;
}
.d-menu2:hover .d-menu-content-lang a:hover, .d-menu2:hover .d-menu-content-cur a:hover {
  color: #84bc22;
}

.d-menu-content-lang li a, .d-menu-content-cur li a {
  color: #ffffff;
}

.column-img img {
  border-radius: 10px;
}

.nav-buttons {
  margin-left: 20px;
}
.nav-buttons span {
  position: absolute;
  font-size: 10px;
  color: #84bc22;
  margin: -10px 0px 0px -10px;
  background-color: #ffffff;
  border: 2px solid #84bc22;
  z-index: 14;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
}
.nav-buttons li:hover path {
  fill: #84bc22;
}

.nav-banners {
  justify-content: space-around;
  padding-top: 110px;
  max-width: 1280px;
  margin: 0 auto;
}

.banners-main .image {
  height: 500px;
  border-radius: 10px;
}

.banners-offer {
  margin: 0;
}
.banners-offer .image {
  width: 100%;
  height: 305px;
  border-radius: 10px;
}
.banners-offer .follow {
  margin-top: 40px;
  text-align: center;
}

.imagini {
  background-size: cover no-repeat;
  height: 200px;
}

.imagini2 {
  background-color: gray;
}

@media screen and (min-width: 880px) {
  #hamburger {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 880px) {
  .fa-bars {
    display: none;
  }

  .d-menu-btn {
    padding: 20px 8px 30px;
  }
}
.link-mobile-menu {
  display: flex;
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .iconmenu {
    font-size: 28px;
    padding: 1rem 2rem;
    z-index: 100;
  }

  .link-mobile-menu {
    display: block;
  }

  #list-pro, #list-sale {
    display: none;
  }

  .d-menu-content-flex {
    display: block;
    margin: 0;
  }

  .d-menu {
    margin-top: 64px;
  }
  .d-menu h3 {
    padding-top: 15px;
  }

  span {
    rotation-point: 50% 50%;
    rotation: 180deg !important;
  }

  button {
    display: none;
  }

  .nav-wrapper#hamburger {
    display: flex;
  }

  .nav-brand {
    width: 85%;
    transform: translateX(-8%);
  }

  .column-img {
    display: flex;
    padding: 20px;
    justify-content: center;
  }

  .text-logo {
    display: none;
  }

  .menu-products, .menu-sales {
    display: none;
  }

  .nav-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    justify-content: center;
    background-color: #262a32;
    padding: 15px;
  }
  .nav-buttons path {
    fill: #ffffff;
  }
  .nav-buttons span {
    background-color: #262a32;
  }
}
.tempclass {
  height: 30vh;
  background-color: #45413e;
}

/*# sourceMappingURL=style.css.map */
