@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

header {
  border-bottom: 2px solid #F3F0E9;
}

.nav-wrapper, .nav-brand, .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 76px;
}

.nav-brand img {
  width: 64px;
  margin-right: 0.5rem;
}

.nav-brand h1 {
  margin: 0;
  color: #011847;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 6.33px;
}

.nav-brand h2 {
  margin: 0;
  margin-top: -8px;
  color: #84bc22;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-wrapper ul li a {
  font-weight: 500;
}

.d-lang, .d-cur {
  color: #bdc3c7;
  font-weight: 500;
}

.nav-menu span {
  font-size: 0.5rem;
  color: #bdc3c7;
  margin-left: 8px;
}

.d-menu {
  overflow: hidden;
}

.d-menu-btn {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 20px 15px 30px;
  background-color: inherit;
  text-transform: uppercase;
}

.d-menu-btn:hover, .d-menu button:hover {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-content {
  display: none;
  position: absolute;
  background-color: #262a32;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: space-around;
  padding: 20px;
}

.d-menu:hover .d-menu-content {
  display: block;
}

.d-menu-content-flex li a {
  color: #ffffff;
}

.menu-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-menu-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
}

.d-menu-content-flex {
  color: #ffffff;
  text-transform: lowercase;
}

.d-menu-content-flex h3 {
  text-transform: uppercase;
}

.nav-menu a, .downmenu a {
  margin: 0.5rem 1rem;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.downmenu-content {
  display: none;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

.nav-buttons {
  margin-left: 30px;
}

.nav-buttons span {
  position: absolute;
  font-size: 10px;
  color: #84bc22;
  margin: -10px 0px 0px -10px;
  background-color: #ffffff;
  border: 2px solid #84bc22;
  z-index: 15;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  font-family: "Lato", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

header {
  border-bottom: 2px solid #F3F0E9;
}

.nav-wrapper, .nav-brand, .nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 76px;
}

.nav-brand img {
  width: 64px;
  margin-right: 0.5rem;
}

.nav-brand h1 {
  margin: 0;
  color: #011847;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 6.33px;
}

.nav-brand h2 {
  margin: 0;
  margin-top: -8px;
  color: #84bc22;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-wrapper ul li a {
  font-weight: 500;
}

.d-lang, .d-cur {
  color: #bdc3c7;
  font-weight: 500;
}

.nav-menu span {
  font-size: 0.5rem;
  color: #bdc3c7;
  margin-left: 8px;
}

.d-menu {
  overflow: hidden;
}

.d-menu-btn {
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 20px 15px 30px;
  background-color: inherit;
  text-transform: uppercase;
}

.d-menu-btn:hover, .d-menu button:hover {
  background: #262a32;
  border-bottom: 4px solid #84bc22;
  padding-bottom: 26px;
  color: #ffffff;
}

.d-menu-content {
  display: none;
  position: absolute;
  background-color: #262a32;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: space-around;
  padding: 20px;
}

.d-menu:hover .d-menu-content {
  display: block;
}

.d-menu-content-flex li a {
  color: #ffffff;
}

.menu-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-menu-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
}

.d-menu-content-flex {
  color: #ffffff;
  text-transform: lowercase;
}

.d-menu-content-flex h3 {
  text-transform: uppercase;
}

.nav-menu a, .downmenu a {
  margin: 0.5rem 1rem;
  color: #45413e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.downmenu-content {
  display: none;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  text-decoration: none;
  text-align: center;
}

.nav-buttons {
  margin-left: 30px;
}

.nav-buttons span {
  position: absolute;
  font-size: 10px;
  color: #84bc22;
  margin: -10px 0px 0px -10px;
  background-color: #ffffff;
  border: 2px solid #84bc22;
  z-index: 15;
  padding: 0.1rem 0.3rem;
  border-radius: 50%;
  font-family: "Lato", Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
