// Imports helpers  ----------------
@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';
        


footer {


  .social-buttons {
    display: flex;
    justify-content: space-around; 
  } 


    path {
        fill: $opacity-color;
    &:hover{
        fill: $secondary-color;
    }
}
}
