// Imports helpers  ----------------
@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';


footer {

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
    
    h4 {
        font-size: 16px;
        font-weight: bold;
        color: $main-color;
    }

    li {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
        color: $main-color;
        &:hover {
            color: $secondary-color;
        }
      }


    .categoriest-column, .about-column{
        display: flex;
        ul{
            width: 33%;
        }
        a {
            color: $main-color;
            line-height: 2!important;
            &:hover {
                color: $secondary-color;
            }
        }
}

i {
    font-size: 14px;
    vertical-align: text-top;
    margin-left: 8px;
}


  .social-buttons {
    display: flex;
    justify-content: space-around; 
  } 


    path {
        fill: $opacity-color;
    &:hover{
        fill: $secondary-color;
    }
}
}





@media screen and (max-width: 768px){
    
        footer{
            display: block;
            
            #contact-column, #categoriest-column, #about-column {
                display: none;              
            }
            
            .categoriest-column {
                display: block;
              }


            .social-buttons {
                justify-content: space-between;
                max-width: 60%;
                margin: 80px auto;
            }
        }
    
        
}


@media screen and (min-width: 768px){
    .d-menu-content .fa-sort-down, footer .fa-sort-down {
        display: none;
    }
}
