@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';

//desktop standard        
body {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    a:hover { text-decoration: none }
    button:focus {
    outline: none;
  }
}


// --------------- header style ---------------------

// border botton line
header {
    border-bottom: 2px solid #F3F0E9;
    position: fixed;
    width: 100%;
    max-width: 1280px;
    z-index: 100;
    background-color: $base-color;
}

.nav-wrapper, .nav-brand, .nav-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

// hamburger menu --------


.nav-wrapper#hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    width: 15%;
}    





// Logo Style
.nav-brand img {
    width: 64px;
    margin-right: 0.5rem;
}


// "OSF" Style 
.nav-brand h1 {
    margin: 0;
    color: $primary-color;
    font-family: $osf-font;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 6.33px;
}

// "Academy" Style 
.nav-brand h2 {
    margin: 0;
    margin-top: -8px;
    color: $secondary-color;
    font-family: $osf-font;
    font-size: 18px;
    font-weight: 400;
}


// --------------- dropdown menu ---------------

//reset menu button  -------

.nav-wrapper ul{
    margin: 0px;
}
.d-menu-btn {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 20px 18px 30px;
    background-color: inherit;
    text-transform: uppercase;
    i {
        font-size: 14px;
        vertical-align: text-top;
    }
}

#hoverbutton{
    background: $back-color;
    border-bottom: 4px solid $secondary-color;
    padding-bottom: 26px;
    color: $base-color;
}

//hover effect menu button green and dark
.d-menu-btn:hover, .d-menu button:hover{
    background: $back-color;
    border-bottom: 4px solid $secondary-color;
    padding-bottom: 26px;
    color: $base-color;
}

//hover effect menu button green and dark




//first dropdown content style 
.d-menu-content, .d-menu-content-lang, .d-menu-content-cur {
    display: none;
    position: absolute;
    background-color: $back-color;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 15;
    justify-content: space-around;
    padding: 20px;
}

//this hover shows the dropdown content
.d-menu:hover .d-menu-content, .d-menu-btn:hover{
    display: block;
}

//dropdown content color links "a" 

.d-menu-content {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
  
    
}
.d-menu-content-flex {
    margin: 35px;

    li a {
        color:$base-color;
        margin: 0px;
        font-size: 16px;
    }
}


.hoverli h3 {
    font-size: 14px;
    text-transform: uppercase;
    i {
        font-size: 14px;
        vertical-align: text-top;
    }
}



.hoverli:hover {
    a {
        color: $secondary-color;
         }
    h3, h3 span {
        color: $secondary-color;
            }
}




//content columns side by side 
.d-menu-content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $size-desktop;
    color: $base-color;
}

//content list side by side 
.menu-products, .menu-sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    line-height: 2rem;
    ul:nth-child(-n+3) {
        margin-right: 110px;
    }
}


// Style dropdown "services"
.nav-menu a, .downmenu a {
margin: 0.4rem 1rem;
color: $main-color;
font-family: Lato;
font-size: 14px;

}

.nav-menu span, .d-lang, .d-cur{
    color: $opacity-color;
    font-weight: 600;
}

.nav-menu span {
    font-size: 0.5rem;
}

i {
    margin-left: 8px;
    
}







//first dropdown content style 

.d-menu2{
    display: block;
    position: relative;
    z-index: 10; 
    //Language and currency buttons color
    button{
        color: $opacity-color;
    }
}

.d-menu-content-lang a, .d-menu-content-cur a{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 14px 0px;
    background-color: $back-color;
    color: $base-color;
    margin: -15px;
    z-index: 10;
  

}

//this hover shows the dropdown content
.d-menu2:hover .d-menu-content-lang, .d-menu2:hover .d-menu-content-cur{
    display: block;
   a:hover{
       color: $secondary-color;
   }
}

//dropdown content color links "a" 
.d-menu-content-lang li a, .d-menu-content-cur li a{
    color: $base-color;
}

.column-img img {
    border-radius: 10px;
}



// ---------------  green balloons in the icons favorite and cart   ----------------------------------------

.nav-buttons {
    margin-left: 20px; //space between dropdown buttons 

    span {
        position: absolute;
        font-size: 10px;
        color: $secondary-color;
        margin: -10px 0px 0px -10px;
        background-color: #ffffff;
        border: 2px solid $secondary-color;
        z-index: 14;
        padding: 0.1rem 0.3rem;
        border-radius: 50%;
    }


    // ----------- hover buttons ------------
    li:hover {
    path {
    fill: $secondary-color;
    }
} 
}










//----------------------login -----------------------------

.nav-banners{
    justify-content: space-around;
    padding-top: 110px;
    max-width: 1280px;
    margin: 0 auto;
    
}


.banners-main {
    .image {
        height: 500px;
        border-radius: 10px;
    }
}

.banners-offer {
    
    margin: 0;
    .image {
        width: 100%;
        height: 305px;
        border-radius: 10px;
    }

    .follow{
        margin-top: 40px;

        text-align: center;
    }
}


.imagini {
    background-size: cover no-repeat;
    height: 200px;
}

.imagini2 {
 background-color: gray;   
}


//---- responsivity ------------------------






@media screen and (min-width: 880px) {
    #hamburger {
        display: block;
    }
}

    @media screen and (min-width: 768px) and (max-width: 880px) {
    .fa-bars{
        display: none;  
    }
    
  
    .d-menu-btn {
        padding: 20px 8px 30px;
    }

}

.link-mobile-menu {
    display: flex;
    display: none;
}


//--------------------------------

@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .iconmenu{
        font-size: 28px;
        padding: 1rem 2rem;
        z-index: 100;
    }

    
    .link-mobile-menu {
        display: block; 
               
    }


    #list-pro, #list-sale {
        display:none;
    }

    .d-menu-content-flex {
        display: block;
        margin: 0;
    }

    
    .d-menu{
        margin-top: 64px;
        
        h3 {
           padding-top: 15px;

        
        }
    }


 span {
    rotation-point: 50% 50%;
        rotation:180deg !important;

    }
    button{
        display: none;
    }

    .nav-wrapper#hamburger {
        display:flex;}

    .nav-brand {
        width: 85%;
        transform: translateX(-8%);
    }

    
    .column-img {
        display: flex;
        padding: 20px;
        justify-content: center;

    }

    .text-logo {
        display: none;
    }

    .menu-products, .menu-sales {
        display: none;
    }


    
    .nav-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
        justify-content: center;
        background-color: $back-color;
        padding: 15px;
        
        path {
            fill: $base-color;
            }

        span {
            background-color: $back-color;
        }
    }
}




.tempclass {
    height: 30vh;
    background-color: $main-color;
}