@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';
        

header {
    border-bottom: 2px solid #F3F0E9;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


// ---------------------
.nav-wrapper, .nav-brand, .nav-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;    
    height: 80px;
}

// Logo Style
.nav-brand img {
    width: 64px;
    margin-right: 0.5rem;
}


// Style for "OSF"
.nav-brand h1 {
    margin: 0;
    color: $primary-color;
    font-family: $osf-font;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 6.33px;
}

// Style for "Academy" 
.nav-brand h2 {
    margin: 0;
    margin-top: -8px;
    color: $secondary-color;
    font-family: $osf-font;
    font-size: 18px;
    font-weight: 400;
}

.nav-wrapper ul li a{
    color: $main-color;
    font-weight: 500;
}

.nav-menu ul a{
    color: $opacity-color;
    font-weight: 500;
}

.nav-menu span {
    font-size: 0.5rem;
    color: $opacity-color;
    margin-left: 8px;
}

// Style for "services"
.nav-menu a, .downmenu a {
margin: 0.5rem 1rem;
color: $main-color;
font-family: Lato;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;   
text-align: center;
}
  
// Dropdown content hidden by default

.downmenu-content {
display: none;
margin: 0;
position: absolute;
background-color: #f9f9f9;
z-index: 1;
text-decoration: none;
text-align: center;
}

// green balloons in the icons favorite and cart -------------------------------

.nav-buttons {
    margin-left: 30px; //space between dropdown buttons 
}
.nav-buttons span {
    position: absolute;
    font-size: 10px;
    color: $secondary-color;
    margin: -10px 0px 0px -10px;
    background-color: #ffffff;
    border: 2px solid $secondary-color;
    z-index: 15;
    padding: 0.1rem 0.3rem;
    border-radius: 50%;
    font-family: $osf-font;
}