@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';
        
body {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;

}

header {
    border-bottom: 2px solid #F3F0E9;

}


// ---------------------
.nav-wrapper, .nav-brand, .nav-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;    
    height: 76px;
}

// Logo Style
.nav-brand img {
    width: 64px;
    margin-right: 0.5rem;
}


// Style for "OSF"
.nav-brand h1 {
    margin: 0;
    color: $primary-color;
    font-family: $osf-font;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 6.33px;
}

// Style for "Academy" 
.nav-brand h2 {
    margin: 0;
    margin-top: -8px;
    color: $secondary-color;
    font-family: $osf-font;
    font-size: 18px;
    font-weight: 400;
}

.nav-wrapper ul li a{
    font-weight: 500;
}

.d-lang, .d-cur{
    color: $opacity-color;
    font-weight: 500;
}

.nav-menu span {
    font-size: 0.5rem;
    color: $opacity-color;
    margin-left: 8px;
}


// --------------- dropdown menu ---------------

.d-menu {
    overflow: hidden;
}

.d-menu-btn {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 20px 15px 30px;
    background-color: inherit;
    text-transform: uppercase;

}

.d-menu-btn:hover, .d-menu button:hover{
    background: $back-color;
    border-bottom: 4px solid $secondary-color;
    padding-bottom: 26px;
    color: $base-color;
   
}

.d-menu-content {
    display: none;
    position: absolute;
    background-color: $back-color;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: space-around;
    padding: 20px;
   
}

.d-menu:hover .d-menu-content {
    display: block;
   
}

.d-menu-content-flex li a{
    color: $base-color;
}

.menu-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-menu-content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
}


.d-menu-content-flex{
    color: $base-color;
    text-transform:lowercase;    
}

.d-menu-content-flex h3{
    text-transform:uppercase;    
}
.d-menu-content-flex li a{
    
}













// Style for "services"
.nav-menu a, .downmenu a {
margin: 0.5rem 1rem;
color: $main-color;
font-family: Lato;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;   
text-align: center;
}
  
// Dropdown content hidden by default

.downmenu-content {
display: none;
margin: 0;
position: absolute;
background-color: #f9f9f9;
z-index: 1;
text-decoration: none;
text-align: center;
}

// green balloons in the icons favorite and cart -------------------------------

.nav-buttons {
    margin-left: 30px; //space between dropdown buttons 
}
.nav-buttons span {
    position: absolute;
    font-size: 10px;
    color: $secondary-color;
    margin: -10px 0px 0px -10px;
    background-color: #ffffff;
    border: 2px solid $secondary-color;
    z-index: 15;
    padding: 0.1rem 0.3rem;
    border-radius: 50%;
    font-family: $osf-font;
}