@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';

// --------------- main style ---------------------

// banners section ---------
section.nav-banners{
    .row {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    // column 1 banner carousel -------
    .carousel-item:nth-child(1) {
            .carousel-caption {
                align-items: flex-start;
                text-align: left;        
            }
        }
    .carousel-item:nth-child(2) {
        .carousel-caption {
            align-items: center;
            text-align: center; 
        }
    }
    .carousel-item:nth-child(3) {
        .carousel-caption {
            align-items: flex-end;
            text-align: right;      
        }
    } 
    .carousel-item {
        height: 510px;         
        width: 100%;
        border-radius: 8px;

        .carousel-caption {
            left: 10%;
            right: 10%; 
            h2 {
                font-family: Myriad, $t-banner-font, $osf-font;
                padding-bottom: 70px;
                font-size: 50px;
                font-weight: bold;
                color: $base-color;
                text-shadow: none;
            }
            p {
                font-size: 18px;
                padding-bottom: 15px;
                text-shadow: none;
            }
            .button-banner{
                margin: 30px 0px ;
            }

            @media screen and (max-width: 995px) {
                left: 5%;
                right: 5%;
                h2 {
                    font-size: 30px;
                    padding-bottom: 0px;
                }
                p {
                    padding-top: 70px;
                }
            }     
        }    
    }

    // column 2 banners offers -------    
    //offer banner -----
    .banner-offer {
        height: 100%;
        text-align: center;
            .offer-image{
                height: 330px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                color: $base-color;          
                    h3{
                        margin: 0px;
                        font-size: 100px;
                        font-weight: 900;
                    }
                    h4 {
                        font-size: 24px;
                        text-transform: uppercase;
                        padding: 40px 50px 0px 50px;
                    }
                }
        }
        //facebook follow us button
        .follow{
            h4 {
                padding-top: 30px;
            }

            p {
                padding: 0px 30px;
            }
            .fb-button {
                margin-top: 18px;
            }

        }
        @media screen and (max-width: 768px) {
            .banner-offer {
                display: none;
            }
        }

}



.full-banner-theme {
    height: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $base-color;

    h2 {
        margin: 0px;
        padding-bottom: 30px;
        font-size: 50px;
        font-weight: 750;
    }
    p {
        font-size: 18px;
        width: 30%;
        margin: 0px auto;
    }


    @media screen and (max-width:768px) {
        height: 325px;

        h2 {
            padding-bottom: 20px;
            font-size: 32px;
            font-weight: 750;
        }
        p {
            font-size: 18px;
            width: 80%;
        }
    }
}