// Imports helpers  ----------------
@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';
      
//background section color        
#popular-itens{
     background-color: $back-color;
}

h2 {
    color: $base-color;    
    font-size: 20px;
    font-weight: bolder;
}

.row.cards {
    display: flex;
    justify-content: space-between;
}

.cardx {
    padding: 0px;
    width: 100%;
    max-width: 271px;
    height: 366px;
    border-radius: 10px;
    background-color: $base-color;
    text-align: center;
    position: relative;
    
    .card-img {
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 266px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-info{
        padding: 1rem;
    }

    h4 {
        font-size: 16px;
    }

    .card-hover{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 10px;
        transition: 0.5s ease;
        background: linear-gradient(to top, $icon-color1, $offer-color);
    }
    .card-buttons {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
   
    }



    button.add, button.favorite{
        opacity: 1!important;
        border: none;
        background-color: $base-color;         
        padding: 30px;
        border-radius: 100%;
        margin: 0.5rem;
        transition: .3s ease;
        img {
            width: 30px;
            height: 100%;
        }

        &:hover {
            box-shadow: 1px 1px 10px $back-color;
            cursor: pointer;
        }
    }

    &:hover .card-hover {
        opacity: 0.9;



    }


   
    

}