// Imports helpers  ----------------
@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';
      
//background section color        
#popular-itens{
    background-color: $back-color;
}

.popular-itens{
    max-width: 1280px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
        text-align: center;
        color: $base-color;    
        font-size: 20px;
        font-weight: bolder;
    }
}

.row.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}





.cardx {
    margin: 1rem;
    padding: 0px;
    width: 100%;
    max-width: 271px;
    height: 367px;
    border-radius: 10px;
    background-color: $base-color;
    text-align: center;
    position: relative;

    .card-img {
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 266px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card-info{
        padding: 0.6rem;
    }

    h4 {
        font-size: 15px;
    }

    .card-buy {
        display: flex;
        justify-content: center;
            // price button ------
            #pricebutton {
                border: 2px solid $opacity-color;    
                border-radius: 50px 0px 0px 50px ;
                background-color: $base-color;
                border-right-width: 0px;
                height: 35px;
                width: 100px;
                font-weight: bold;
                font-size: 14px;
                a {
                    color: $offer-color;
                    
                }
           
                                
            }

            // buy button ----
            #buybutton {   
                border: 2px solid $opacity-color;
                border-radius: 0px 50px 50px 0px  ;
                height: 35px;
                width: 100px;
                background-color: $base-color;
                color: $main-color;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                transition: 0.4s ease;
                &:hover {
                    background-color: $secondary-color;
                    color: $base-color;
                    
                }
            }            
    }

    .card-hover{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 10px;
        transition: 0.5s ease;
        background: linear-gradient(to top, $icon-color1, $offer-color);
    }

    


    .card-buttons {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        display: none;
   
    }



    button.add, button.favorite{
        opacity: 1;
        border: none;
        background-color: $base-color;         
        padding: 30px;
        border-radius: 100%;
        margin: 0.5rem;
        transition: .3s ease;
        img {
            width: 30px;
            height: 100%;
        }

        &:hover {
            box-shadow: 1px 1px 10px $back-color;
            cursor: pointer;
        }
    }

    span.price-text a {
        font-weight: bold;
    }

    a {
        color: $main-color;
        transition: 0.3s ease;
            &:hover {
            color: $secondary-color;
    }
   }
//add function hover
&:hover .card-hover {
    opacity: 0.9;
    display:flex;
    .card-buttons {
        display: block;
    }
}

}


.card-img-last {
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
    
//last card ------
.card-hover-last {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    border-radius: 10px;
    background: linear-gradient(to top, #64469c, #c03e74);
    .card-info {
        text-align: left;
        padding: 32px;
        position: absolute;
        bottom: 0;
        p {
            color: $base-color;
            font-size: 16px;
        }
        .price-text {
            color: $base-color;
            font-size: 15px;
            text-transform: uppercase;
            vertical-align: bottom;
        }

    }
}




.load-more {
    display: flex;
    justify-content: center;
    padding: 20px;
}