@import '../helpers/colors',
        '../helpers/components',
        '../helpers/fonts',
        '../helpers/reset';

// product detailed page ------

.product-page{
    background-color: $back-color0;
    .row {
        margin: 0 auto;
        background-color: $base-color;
        padding: 15px;
        border-radius: 10px;
    }
    // COLUMN 01
    .product-img {
        cursor: zoom-in;
        #zoom-button {
            position: absolute;
            margin: 20px;
        }
        .product-zoom {
            background-repeat: no-repeat;
            width: 100%;
            cursor: zoom-in;
        }
    }
    .modal-dialog {
        .product-modal {
         max-width: 60vw;
         height: auto;
         width: 600px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 30%;
            .product-modal {
                width: 94vw;
    height: auto;
    max-width: 768px;
            }
        }
    }

    // COLUMN 02
    .thumb {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            transition: 0.3s ease;
            @media screen and (max-width: 768px) {
                margin: 5px;
                &:last-child { // remove this after jquery function implementation
                  display: none; 
                } 
          }
            margin: 10px;
            border: 1px solid $main-color;
            border-radius: 2px;
            &:hover {
                transition: 0.3s ease;
                border: 1px solid $secondary-color;   
            }
            img {
                border-radius: 2px;
            }
        }
    }
    .thumb li {
        cursor: pointer;
    }

    // COLUMN 03
    .product-info {
        padding-left: 40px;
        padding-right: 40px;
        #price-product-page {
            font-size: 50px;
            font-weight: 900;
        }
        #sel-colors {
            margin: 10px auto;
            font: inherit;
            color: inherit;
            padding: 10px;
            border: 1px solid $opacity-color;
            border-radius: 25px;
        }
        .product-page-add {
            margin: 10px auto;
        }
        .product-paragraph {
            text-align: justify;
            .span-readmore {
               display: none;
            }  
        }
        .sharepage {
            margin-top: 20px;
            h5 {
                color: $opacity-color;
                margin-right: 20px;
            }
            .product-social-buttons {        
                path {
                    fill: $opacity-color;
                &:hover{
                    fill: $secondary-color;
                }  
            }
            .product-share-svg{
                margin-top: 10px;
                margin-left: 14px;
              }
          }
        }
    }    
}