@import '../helpers/fonts';
@import '../helpers/colors';

// banner "view more" button  ---------------------------
.button-banner {
    width: 149px;
    border: 2px solid $opacity-color;
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s ease;
    a {
        color: $base-color;
    }
    &:hover {
        background-color: $secondary-color;
        border: 2px solid $base-color;
        a {
            color: $base-color;
        }
    }
}

// facebook button  ---------------------------
.fb-button {
    width: 150px;
    border: 2px solid $fb-color;
    padding: 8px;
    font-size: 14px;
    background-color: $base-color;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.3s ease;
    svg {
        position: relative;
        right: 10px;
    }
    a {
        color: $fb-color;
    }
    &:hover {
        background-color: $fb-color;
        path {
            fill: $base-color;
        }
        a {
            color: $base-color;
        }
    }
}

// load more button  ---------------------------
#load-more {
    width: 263px;
    border: 2px solid $base-color;
    padding: 8px;
    font-size: 14px;
    background-color: $back-color;
    color: $base-color;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s ease;
    img {
        position: relative;
        left: 10px;
    }
    &:hover {
        background-color: $secondary-color;
    }
}

// points button carousel  ---------------------------
.carousel-indicators li {
    border: 3px solid transparent!important;
    background-color: $opacity-color!important;
    margin-left: 10px!important;
    &.active {
        border: 3px solid $base-color!important;
        background-color: transparent!important;
    }
}      

// product page button  ---------------------------  
.button-page-product {
    width: 149px;
    border: 2px solid $back-color0;
    padding: 8px;
    font-size: 14px;
    background-color: $secondary-color;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s ease;
    color: $base-color;
    font-weight: 500;
    &:hover {
        background-color: $base-color;
        border: 2px solid $secondary-color;
        color: $secondary-color;   
    }
}

// simple link button -------
.linkbutton {
    color: $secondary-color;
   font-weight: 500;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: $secondary-color;
    }
    &:visited {
        color: $secondary-color!important;
    }
}

// line before and after titles
.line-title {
    text-align: center;
    color: $main-color;    
    font-size: 24px;
    font-weight: bolder;
    position: relative;
    margin-bottom: 40px;
    //line before title ---
    &:before {
        position: absolute;
        bottom: 50%;
        right: 0;
        content: "";
        width: 38%;
        height: 100%;    
        border-bottom: 1px solid $opacity-color;
        @media screen and (max-width: 770px) {
            width: 20%;
        }
    }
    //line after title ---
    &:after {
        position: absolute;
        top: 50%;
        left: 0;
        content: "";
        width: 38%;
        border-bottom: 1px solid $opacity-color;
        @media screen and (max-width: 770px) {
            width: 20%;
        }
    } 
}

// breadcrumbs style ---
.breadcrumbs {
    padding: 115px 50px 90px 50px;
    text-align: center;
    background-color:$back-color0;
    color: $main-color;
    font-size: 14px;
    a {
        color: $secondary-color;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2 {
        margin: 0;
        font-weight: 900;
        font-size: 46px;
        color: $main-color;
    }

    // breadcrumb LINE and TITLE style 
    .breadcrumbs-title{
        text-align: center;
        font-weight: 800;
        background: $back-color0;
        z-index: 4;
        position:absolute; 
        left:50%;
        padding: 0  20px;
        font-size: 4rem;
        transform: translate(-50%)    
    }
    @media screen and (max-width: 768px) {
        .breadcrumbs-title{
            font-size: 2.5rem;
            padding: 0px;
            
        }   
    }

    .breadcrumbs-div::before {
        position: relative;
        display: block;
        content: "";
        height: 2px;
        opacity: 0.5;
        background-color: $opacity-color;
        width: 100%;
        top: 30px;
    } 
}