@import '../helpers/fonts';
@import '../helpers/colors';

// ----------------- buttons style ------------------------------------------





// banner "view more" button  ---------------------------
.button-banner {
    width: 149px;
    border: 2px solid $opacity-color;
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s ease;
    a {
        color: $base-color;
    }
    &:hover {
        background-color: $secondary-color;
        border: 2px solid $base-color;
        a {
            color: $base-color;
        }
    }
}

// facebook button  ---------------------------
.fb-button {
    width: 150px;
    border: 2px solid $fb-color;
    padding: 8px;
    font-size: 14px;
    background-color: $base-color;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.3s ease;
    svg {
        position: relative;
        right: 10px;
    }
    a {
        color: $fb-color;
    }
    &:hover {
        background-color: $fb-color;
        path {
            fill: $base-color;
        }
        a {
            color: $base-color;
        }
    }
}


// load more button  ---------------------------
#load-more {
    width: 263px;
    border: 2px solid $base-color;
    padding: 8px;
    font-size: 14px;
    background-color: $back-color;
    color: $base-color;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.4s ease;
    img {
        position: relative;
        left: 10px;
    }
    &:hover {
        background-color: $secondary-color;
    }
}


// points button carousel  ---------------------------
.carousel-indicators li {
    border: 3px solid transparent!important;
    background-color: $opacity-color!important;
    margin-left: 10px!important;
    &.active {
        border: 3px solid $base-color!important;
        background-color: transparent!important;
    }
}


        
        