@import '../helpers/fonts',
        '../helpers/colors';

* {
    box-sizing: border-box;
    font-family: $osf-font;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   
}

$size-desktop: 1280px;
$size-tablet: 768px;
$size-phone: 320px;


//desktop standard        
body {

    a:hover { text-decoration: none }
    button:focus {
    outline: none;
  }
}